# Makefile.os2

CUETOOLS_VERSION =	0.5.1

# Paths

ifndef ($PREFIX)
PREFIX =	$(UNIXROOT)/usr
endif
BINDIR =	$(PREFIX)/bin
MANDIR =	$(PREFIX)/share/man
DATADIR =	$(PREFIX)/share/doc/cuetools

# The Makefiles contain targets to create some distribution archives
# automatically. Here are the desired file names for that archives.
ARCHIVE_BIN_ZIP =	cuetools-$(CUETOOLS_VERSION)-os2-bin.zip
ARCHIVE_SRC_ZIP =	cuetools-$(CUETOOLS_VERSION)-os2-src.zip
ARCHIVE_UX2_ZIP =	cuetools-$(CUETOOLS_VERSION)-ux2.zip

# Programs

SHELL =		sh.exe
AS =		gcc
CC =		gcc
LD =		gcc
AR =		ar
IPF =		ipfc
MSGFMT =	msgfmt
ZIP =		zip
WIC =		wic

DEFS =		-D__ST_MT_ERRNO__
INCLUDES =	-I. -Ios2
LIBS =		

CFLAGS =	$(DEFS) $(INCLUDES) -O2 -Wall -Zmt
LDFLAGS =	-s -Zexe -Zmt

ARFLAGS =	crs
IPFFLAGS =	-w:3 -i
MSGFMTFLAGS =	
ZIPFLAGS =	-9
WICFLAGS =	

# Dependencies

